body {
  font-family: sans-serif;
  line-height: 1.4;
  padding: 20px;
  margin: 0 auto;
}
.search-form{
  display: flex;
  margin: auto;
  justify-content: center;
  padding-top: 40px;
  margin-bottom: 50px;
}
.input{
  text-align: center;
  width: 30em;
  height: 40px;
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
}
.photo-item {
  margin: 40px 0;
  padding-top: 20px;
  border-top: 1px solid #ddd;
}

.photo-card__img {
  display: block;
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.gallery {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.photo-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 10px;
  padding: 0;
  width: 320px;
}
.stats{
  display: flex;
  justify-content: space-between;
}
.material-icons{
  font-size: 15px;
}

.loader {
display: none;
  
  &.visible {
  display: block;
  padding: 10px 20px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #024c4e;
  border-radius: 20px;
  cursor: pointer;
  background-color: #96e4a7;
  }
}